<h1 align="center" >This is list of blogs</h1>




    <% @blogs.each do |b| %>
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<div class="well well-lg">
					<div class="blog-title">
						<%=link_to b.title ,blog_path(b)%>
					</div>
					<div class="blog-body">
						<%= truncate(b.description,length:100) %>
					</div>
					<div class="blog-action">
						<b><%= link_to "Edit the blog",edit_blog_path(b),class: "btn btn-xs btn-success" %></b>
				        <b><%=link_to "Delete this blog", blog_path(b),class: "btn btn-xs btn-danger", method: :delete,data: { confirm:"Are you Sure?"} %></b>
				    </div>
				</div>
			</div>
		</div>
	<% end %>

