<h1>This is the show page of <%= @blog.title %></h1>

<table>
	<th>
		<tr><b>Title  </b></tr>
		
	</th>
	<th>
		<tr><b>  Description</b></tr> <br/>
	</th>
	<td>
		<tr><%=   @blog.title %></tr>
		<tr><%=   @blog.description %></tr>
	</td>
	
</table>