$navbar-default-bg: black;
$btn-default-bg: #fff;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
	float: left;
	font-size: 1.7em;
	color: #fff;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover{
	color: #fff;
	text-decoration: none;
}
.center{
	text-align: center;
}
#jumbo{
	background-image: asset-url('region-afghanistan.jpg');
	background-size: cover;
	weight: 100%;
	height: 600px;
}
#title{
	font-size: 5em;
	color: #fff;
	margin-bottom: 30px;
	font-weight: bold;
	letter-spacing: -1px;
}
.btn-xlg{
	background-color: #000;
	font-size: 1.2em;
}
footer{
	margin-top: 45px;
	padding-top: 50px;
	border-top: 1px solid #eaeaea;
	color: #000;

}
footer a:hover{
	color: #222;
}
footer small{
	float: left;
}
footer ul{
	float: right;
	list-style: none;
}
footer ul li{
	float: left;
	margin-left: 15px;
}
.blog-action{
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
}

.blog-title {
	font-weight: bold;
	font-size: 1.5em;
}
.blog-body{
	border-top: 1px solid #eaeaea;
	padding-top: 15px;
	padding-bottom: 15px;
}