<div class="container">
   <footer class="footer">
   	<small>
   	Copyright: &copy; <a href="www.github.com"> the test app developer</a> by
    <a href="www.github.com/ziahazara">Zia Hazara Mehter</a>
   	</small>
   	<nav>
   		<ul>
   			<li><%= link_to "About",blog_about_path %></li>
   		</ul>
   	</nav>

   </footer>
</div>